<% if current_user.active.nil? or current_user.active != true %>
	<div class="card">
		<div class="card-content">
			<h4 style="text-align: center">Almost there! Verify your information</h4>
			<%= simple_form_for(@user) do |f| %>
			<%= f.error_notification %>
			<div class="row">
				<div class="col">
					<div class="form-inputs">
						<%= f.input_field :first_name %>
						<%= f.input_field :last_name %>
						<%= f.input_field :email %>
						<%= f.input_field :linkedin_url, :as => :string %> 
						<%= f.input_field :city %> 
						<%= f.input_field :state %> 
						<%= f.input_field :zip %> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s2"></div>
				<div class="col s8 center" style="text-align: center;">
					<h5>Terms and Conditions</h5>
					In order to maintain a healthy and safe mentorship environment,
					all members must agree to all terms in the
					<a href="/home/privacy">Terms and Conditions</a>.
					<br />
					<br />
					Do you agree to follow these rules?
					<%= f.input :code_of_conduct%>
					<%= f.hidden_field :active, value: false %>
					<%= f.hidden_field :is_new, value: true %>
				</div>
				<div class="col s2"></div>
		  	</div>
			<div class="row center">
				<div>
					<%= f.button :submit, :value => "Create Account"%>
			  	</div>
			</div>
		  <% end %>
		</div>
	</div>
<% else %>
  redirect_to home_path 
<% end %>
