 </br>
  <div class="col s8">

    <div class="card center" style="width:43rem; float:left">
      
      <div class="card-content">
        <span class="card-title"><em>Welcome to RedChairPGH Mentorship</em></span>
		<p>
			This website is free service offered by RedChairPGH.org as a platform to 
			facilitate the connection of Pittsburgh-area women in technology careers 
			with potential mentors. You must have a LinkedIn profile to register 
			on the site and are agreeing to our 
			<a href="/home/privacy">Terms and Conditions</a> of Membership 
			when registering. Once registered, you can choose to be a mentor 
			(available to women and men) or a mentee (available to women only). 
			Mentor and Mentees complete a short profile. If a match is made, the 
			Mentor is notified by the system and can ask the Mentee to contact them. 
			The Mentee is notified and connects with the Mentor via LinkedIn. Mentoring 
			is conducted outside of the RedChairPGH.org platform. You can also join 
			our Slack channel to connect to other users of this site. 	
		</p>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="center">
    </br></br></br>
    <% if logged_in? && current_user.active %>
      <div class="card2">
        <div class="card-content">
          <% if !current_user.is_mentor? %>
            <%= link_to "Become a Mentor", new_mentor_path, :class => "btn-large waves-effect waves-light sky-blue" %><br><br>
          <% else %>
            <% mentor = Mentor.for_user(current_user.id).first %>
            <%= link_to "Check new requests", mentor_requests_path(mentor), :class => "btn-large waves-effect waves-light sky-blue" %><br><br>
          <% end %>
          <% if !current_user.is_mentee? %>
            <%= link_to "Become a Mentee", new_mentee_path, :class => "btn-large waves-effect waves-light sky-blue" %>
          <% else %>
            <% mentee = Mentee.for_user(current_user.id).first %>
            <%= link_to "Check new matches", mentee_matches_path(mentee), :class => "btn-large waves-effect waves-light sky-blue" %>
          <% end %> 
        </div>
      </div>
      </br></br>
      <div class="card2">
        <div class="card-content3 center">
            <p>Join our Slack community</p>
			<%= link_to(
				image_tag('logos/slack_logo.png', :size => "125x37"),
				"https://join.slack.com/t/red-chair-pgh/shared_invite/enQtODA5MzM1MzU3OTUzLTBlNWEzMGM2MzcxNjYxMjQ4MDM1MDhhNzAxYmNiZWZiMjFlYTllZGIxMGIyNTcyYjdiOGQ4M2VkZTkzZGQ3YTc",
				target: "_blank"
			) %>
            <br><br><br>
        </div>
      </div>
    <% elsif !logged_in? %>
      </br></br></br></br>
      <div class="card2">
        <div class="card-content2">
          <h5>Want to join the community?</h5>
            <%= link_to "Create Account", signup_path, :class => "btn-large waves-effect waves-light sky-blue" %>
        </div>
      </div>
    <% elsif !current_user.nil? && !current_user.active %>
      <div class="card">
        <div class="card-content">
          <h4>Unfortunately, your account has been deactivated.</h4>
        </div>
      </div>
   <% end %>
    </div>
  </div>
