<div class="card">    
	<div class="card-content">
		<%= simple_form_for(mentor) do |f| %>
			<%= f.error_notification %>
			<div class="form-inputs">
				<div class="row">
					<!--matching algo feilds -->          
					<div class="col s8">
						<div class="fx-label">
							<span class="required-mark">*</span>
							In what areas can you provide support? (choose top 6)
						</div>
						<br />
						<%= f.input_field :hackimpact, :as => :check_boxes, collection: Mentor::IMPACT %>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="fx-label">
							<span class="required-mark">*</span>
							What is your background?
						</div>
						<br />
						<%= f.input_field :hackbackground, :as => :check_boxes, collection: Mentor::BACKGROUND %>
					</div>

					<div class="col s6">
						<div class="fx-label">
							<span class="required-mark">*</span>
							What adjective best describes the kind of mentor you'd be?
						</div>
						<br />
						<%= f.input_field :hackrole, :as => :check_boxes, collection: Mentor::MENTOR_ROLES %>
					</div>
				</div>

				<%= f.hidden_field :is_active, value: true %>
				<%= f.hidden_field :user_id, value: current_user.id %>

				<div class="row">
					<div class='col s6'>
						<div class="fx-label">
							<span class="required-mark">*</span>
							Gender
						</div>
						<div><%= f.input_field :gender, collection: Mentor::GENDER, include_blank: true %></div>
					</div>
					<div class='col s6'>
						<div class="fx-label">
							<span class="required-mark">*</span>
							Desired Communication Frequency
						</div>
						<%= f.input_field :comm_frequency, collection: Mentor::COMMUNICATION_FREQ, include_blank: true %>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="fx-label">Years of experience</div>
						<%= f.input_field :years_in_field %>
					</div>
					<div class="col s6">
						<div class="fx-label">Years as a leader / supervisor</div>
						<%= f.input_field :years_in_lead %>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="fx-label">What's your motivation for becoming a mentor?</div>
						<%= f.input_field :motivation, style: 'min-height: 100px;' %>
					</div>

					<div style="margin-top: 15px;">
						<div class="fx-label">
							Please provide a short bio of your interests,
							hobbies, and core values outside of your professional life
						</div>
						<%= f.input_field :bio, style: 'min-height: 100px;' %>
					</div>
				</div>
				<div class="form-actions col s6">
					<%= f.button :submit, button_html: { class: 'btn-large' }%>
				</div>
			</div>
		<% end %>
	</div>
</div>
